// Colors
$primary-text-color: rgb(26, 26, 26);
$muted-text-color: #585858;
$alert-text-color: rgb(231, 34, 34);

$navbar-color: #bd1b1b;


// Font Families
$primary-font-family: 'Playfair Display', serif;
$secondary-font-family: 'Oxygen', sans-serif;
