<% include partials/header %>

<div class="container">
    <h2 class="login--header">Login</h2>

    <form class="login--form" action="/login" method="POST">
        <input class="login--input" name="username" type="text" placeholder="Username">
        <input class="login--input" name="password" type="password" placeholder="Password">
        <button class="btn btn-primary btn-sm login--btn">Login</button>
    </form>
    <p class="register-link">Don’t have an account? <a href="/register">Sign-up</a></p>
</div>


<% include partials/footer %>