<% include partials/header %>

<div class="container">

    <h2 class="login--header">Register</h2>

    <form class="login--form" action="/register" method="POST">
        <input class="login--input" name="username" type="text" placeholder="Username">
        <input class="login--input" name="password" type="password" placeholder="Password">
        <div>
            <input class="login--input" name="avatar" type="text" placeholder="Avatar Image URL">
            <small id="emailHelp" class="form-text text-muted text-center">(Optional)</small>
        </div>
        
        <button class="btn btn-primary btn-sm login--btn">Sign-up</button>
    </form>
    <p class="register-link">Already have an account? <a href="/login">Login</a></p>
</div>


<% include partials/footer %>