body {
    font-family: 'Oxygen', sans-serif;
    padding-top: 4rem;
    background-color: white;
}

.navbar {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.component-block {
    padding: 1rem;
    border-radius: 5px;
}

.component-block textarea {
    width: 100%
}

.btn-edit-delete {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.recipe-show-title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
}

.btn-edit-delete a {
    margin-right: 5px;
    border-radius: .2rem;
}

.ingredient {
    font-size: 1.1rem;
    margin-right: .8rem;
}

.text-bold {
    font-weight: 800;
}

.card-deck a {
    text-decoration: none;
    color: black;
}

.card {
    height: 350px;
    transition: all .2s ease;
    display: block;

}

.btn-inline {
    display: inline;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.shadow--box {
    display: none;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.45);
    color: rgba(255, 255, 255, 0.85);
    position: absolute;
    border-radius: 28px 28px 0 0;
    bottom: 0;
}

.shadow--box__title {
    text-align: center;
    padding: 5px 15px 0 15px;
    font-size: 18px;
    margin: 0;
}

.shadow--box__details {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow--box__details span {
    font-size: 14px;
}

.shadow--box__details svg {
    width: 18px;
    height: 18px;
}

.shadow--box__details p {
    margin-bottom: 10px;
}


@media (max-width: 576px) {
    .mobile-hidden {
        display: none;
    }
    
    .u-mobile-padding-t {
        padding-top: 1rem;
    }

    .component-block p {
        padding-left: 15px;
    }

    /* change this width to a container so that we can have the btn line up with the textarea */
    .recipe--comments__input {
        width: 90%;
        margin: 0 auto;
    }

    .recipe--comments__btn {
        margin-left: 25px;
    }

    .section-header {
        padding: 6px 0 6px 15px;
        width: 100%;
        margin-bottom: 1.2rem;
        color: #4e4e4e;
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 100%);
    }

    .u-full-width {
        padding: 0;
    }

    body {
        padding-top: 32px;
    }

    .shadow--box {
        display: block;
    }

    #recipe--image__container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #recipe--image__container img {
        width: 100%;
    }
}

