.login--btn {
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin: 60px auto;
    width: 40%;
    height: 54px;
    border-radius: 30px; 
    background-color: linear-gradient(174.01deg, #217AE3 5.43%, #0050EB 134.84%);
    box-shadow: 2px 4px 10px rgba(26, 26, 26, 0.19);
    transition: all .1s ease-in-out;

    @include bp(tab-land) {
        width: 45%;
    }

    @include bp(phone) {
        width: 65%;
    }
    
    &:hover {
        background-color: linear-gradient(174.01deg, hsl(212, 78%, 46%) 5.43%, hsl(220, 100%, 41%) 134.84%);
        transform: scale(1.01);
    }
}

.header--search__button {
    background: none;
    border: none;
    width: 22px;
    height: 22px;
    position: relative;
    right: 33px;
    bottom: 3px;

    @include bp(tab-land) {
        width: 18px;
        width: 18px;
        bottom: 1px;
    }

    & svg {
        width: 22px;
        height: 22px;

        @include bp(tab-land) {
            width: 18px;
            width: 18px;
        }
    }
    
}

.comment--btn__delete button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.comment--btn__delete {
    margin-left: auto;
}

.delete--icon {
    fill: rgb(206, 60, 60);
    height: 30px;
    width: 30px;
}

.btn-edit-delete a {
    margin-right: 5px;
    border-radius: .2rem;
}

.card-buttons {
    width: 30px;
    height: 30px;
    padding: 1px;
    background: none;
    border: none;
    cursor: pointer;

    @include bp(tab-port) {
        width: 33px;
        height: 33px;
    }
}

.card-buttons svg {
    width: 28px;
    height: 28px;
    margin: 0;
    transition: all .2s ease;

    @include bp(tab-port) {
        width: 33px;
        height: 33px;
    }
}


.favorite-btn:focus {
    outline: 1px solid rgb(34, 4, 165);
}

.favorite-btn svg {
    fill: transparent;
}

.favorite-active svg {
    fill: #CE3C3C;
}

.favorite-btn svg:hover {
    fill: #CE3C3C;
}

.edit-btn svg {
    fill: #FFA929;
    margin-left: 3px;
}

.edit-btn svg:hover {
    fill: hsl(36, 100%, 40%);
}

.edit-btn:focus {
    outline: 1px solid rgb(34, 4, 165);
}

.delete-btn svg {
    fill: #E70505;
    margin-left: 3px;
}

.delete-btn svg:hover {
    fill: hsl(0, 96%, 34%);
}

