body {
    color: $primary-text-color;
    font-family: $secondary-font-family;
    padding-top: 56px;
    background-color: white;

    @include bp(phone) {
        padding-top: 32px;
    }
}

.container {
    @include bp(tab-land) {
        max-width: 1140px;
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-body {
    padding-bottom: 200px;
}